
<div id="exp-block">
    <span id="work-year" >{{experience.YearOfWork}}</span>
    <!--<span id="work-pic" class="glyphicon glyphicon-briefcase"></span>-->
    <!--<span id="work-pic" ng-class="img_type==='work': glyphicon glyphicon-briefcase ,img_type==='education': glyphicon glyphicon-education"></span>-->
    <div id="work-block" ng-class-odd="'work-odd'" ng-class-even="'work-even'">
    <span id="work-role" >{{experience.Role}}</span>
    <span id="work-company" > {{experience.Company}}</span>
<hr>
    <div id="company-desc"> {{experience.CompanyDescription}}</div>
</div>
</div>